USE [QuanLyBaiHat]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 11/29/2025 15:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[MaAlbum] [varchar](20) NOT NULL,
	[TenAlbum] [nvarchar](200) NOT NULL,
	[NamPhatHanh] [int] NOT NULL,
	[MaCaSi] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAlbum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaiHat]    Script Date: 11/29/2025 15:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiHat](
	[MaBaiHat] [varchar](20) NOT NULL,
	[TenBaiHat] [nvarchar](200) NOT NULL,
	[MaCaSi] [varchar](20) NOT NULL,
	[NgayPhatHanh] [date] NOT NULL,
	[ThoiLuong] [time](7) NOT NULL,
	[MaTheLoai] [int] NOT NULL,
	[MaAlbum] [varchar](20) NOT NULL,
	[LuotNghe] [int] NULL,
	[MaNhacSi] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaiHat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaSi]    Script Date: 11/29/2025 15:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaSi](
	[MaCaSi] [varchar](20) NOT NULL,
	[TenCaSi] [nvarchar](200) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[QuocTich] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCaSi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachYeuThich]    Script Date: 11/29/2025 15:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachYeuThich](
	[UserID] [int] NOT NULL,
	[MaBaiHat] [varchar](20) NOT NULL,
	[NgayThem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[MaBaiHat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 11/29/2025 15:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[MatKhau] [varchar](100) NOT NULL,
	[Quyen] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhacSi]    Script Date: 11/29/2025 15:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhacSi](
	[MaNhacSi] [varchar](20) NOT NULL,
	[TenNhacSi] [nvarchar](200) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[QuocTich] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhacSi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 11/29/2025 15:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Album] ([MaAlbum], [TenAlbum], [NamPhatHanh], [MaCaSi]) VALUES (N'AB00', N'[Không thuộc Album]', 2025, N'CS00')
INSERT [dbo].[Album] ([MaAlbum], [TenAlbum], [NamPhatHanh], [MaCaSi]) VALUES (N'AB01', N'm-tp M-TP', 2017, N'CS01')
INSERT [dbo].[Album] ([MaAlbum], [TenAlbum], [NamPhatHanh], [MaCaSi]) VALUES (N'AB02', N'dongvui harmony', 2022, N'CS02')
GO
INSERT [dbo].[BaiHat] ([MaBaiHat], [TenBaiHat], [MaCaSi], [NgayPhatHanh], [ThoiLuong], [MaTheLoai], [MaAlbum], [LuotNghe], [MaNhacSi]) VALUES (N'BH01', N'Lạc Trôi', N'CS01', CAST(N'2017-01-01' AS Date), CAST(N'00:04:32' AS Time), 3, N'AB01', 282000000, N'NS01')
INSERT [dbo].[BaiHat] ([MaBaiHat], [TenBaiHat], [MaCaSi], [NgayPhatHanh], [ThoiLuong], [MaTheLoai], [MaAlbum], [LuotNghe], [MaNhacSi]) VALUES (N'BH02', N'Hãy trao cho anh', N'CS01', CAST(N'2019-07-01' AS Date), CAST(N'00:04:22' AS Time), 3, N'AB00', 300000000, N'NS01')
INSERT [dbo].[BaiHat] ([MaBaiHat], [TenBaiHat], [MaCaSi], [NgayPhatHanh], [ThoiLuong], [MaTheLoai], [MaAlbum], [LuotNghe], [MaNhacSi]) VALUES (N'BH03', N'Một năm mới bình an', N'CS01', CAST(N'2016-01-23' AS Date), CAST(N'00:04:12' AS Time), 3, N'AB01', 100000000, N'NS01')
GO
INSERT [dbo].[CaSi] ([MaCaSi], [TenCaSi], [NgaySinh], [QuocTich]) VALUES (N'CS00', N'Nhiều nghệ sĩ', CAST(N'2025-11-28' AS Date), N'N/A')
INSERT [dbo].[CaSi] ([MaCaSi], [TenCaSi], [NgaySinh], [QuocTich]) VALUES (N'CS01', N'Sơn Tùng M-TP', CAST(N'1994-07-05' AS Date), N'Việt Nam')
INSERT [dbo].[CaSi] ([MaCaSi], [TenCaSi], [NgaySinh], [QuocTich]) VALUES (N'CS02', N'Đen Vâu', CAST(N'1989-05-13' AS Date), N'Việt Nam')
GO
INSERT [dbo].[DanhSachYeuThich] ([UserID], [MaBaiHat], [NgayThem]) VALUES (1, N'BH02', CAST(N'2025-11-28T20:45:57.313' AS DateTime))
INSERT [dbo].[DanhSachYeuThich] ([UserID], [MaBaiHat], [NgayThem]) VALUES (1, N'BH05', CAST(N'2025-11-28T20:46:07.067' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([UserID], [UserName], [MatKhau], [Quyen]) VALUES (1, N'admin', N'123', 1)
INSERT [dbo].[NguoiDung] ([UserID], [UserName], [MatKhau], [Quyen]) VALUES (2, N'user', N'456', 0)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
INSERT [dbo].[NhacSi] ([MaNhacSi], [TenNhacSi], [NgaySinh], [QuocTich]) VALUES (N'NS01', N'Sơn Tùng M-TP', CAST(N'1994-07-05' AS Date), N'Việt Nam')
INSERT [dbo].[NhacSi] ([MaNhacSi], [TenNhacSi], [NgaySinh], [QuocTich]) VALUES (N'NS02', N'Đen Vâu', CAST(N'1989-05-13' AS Date), N'Việt Nam')
INSERT [dbo].[NhacSi] ([MaNhacSi], [TenNhacSi], [NgaySinh], [QuocTich]) VALUES (N'NS03', N'Bùi Trường Linh', CAST(N'1999-04-06' AS Date), N'Việt Nam')
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (1, N'Rock')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (2, N'Ballad')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (3, N'Pop')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__C9F2845603BF1D25]    Script Date: 11/29/2025 15:23:31 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiHat] ADD  DEFAULT ((0)) FOR [LuotNghe]
GO
ALTER TABLE [dbo].[DanhSachYeuThich] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((0)) FOR [Quyen]
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD FOREIGN KEY([MaCaSi])
REFERENCES [dbo].[CaSi] ([MaCaSi])
GO
ALTER TABLE [dbo].[BaiHat]  WITH CHECK ADD FOREIGN KEY([MaAlbum])
REFERENCES [dbo].[Album] ([MaAlbum])
GO
ALTER TABLE [dbo].[BaiHat]  WITH CHECK ADD FOREIGN KEY([MaCaSi])
REFERENCES [dbo].[CaSi] ([MaCaSi])
GO
ALTER TABLE [dbo].[BaiHat]  WITH CHECK ADD FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[BaiHat]  WITH CHECK ADD  CONSTRAINT [FK_BaiHat_NhacSi_Chinh] FOREIGN KEY([MaNhacSi])
REFERENCES [dbo].[NhacSi] ([MaNhacSi])
GO
ALTER TABLE [dbo].[BaiHat] CHECK CONSTRAINT [FK_BaiHat_NhacSi_Chinh]
GO
ALTER TABLE [dbo].[DanhSachYeuThich]  WITH CHECK ADD FOREIGN KEY([MaBaiHat])
REFERENCES [dbo].[BaiHat] ([MaBaiHat])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhSachYeuThich]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[NguoiDung] ([UserID])
ON DELETE CASCADE
GO
